################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Analogy/.vs/Analogy/v15
/Analogy/bin/Debug
/Analogy/obj/Debug
/Analogy/Analogy.sln.DotSettings.user
/.vs/Analogy/v15
/Analogy.Interfaces/obj/Debug
/Analogy.Interfaces/bin/Debug
/Analogy.sln.DotSettings.user
/Analogy/Analogy.csproj.user
/Analogy.Implementation.Example/obj/Debug
/Analogy.Implementation.Example/bin/Debug
/.vs/Analogy/v16/Server/sqlite3
/.vs/Analogy/v16/.suo
/Analogy/bin/Release
/Analogy/obj/Release
/Analogy.Implementation.Example/obj/Release
/Analogy.Interfaces/bin/Release
/Analogy.Interfaces/obj/Release
/Analogy.Interfaces/nuget.exe
/Analogy/DevExpress/DevExpress.XtraTreeList.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraPrinting.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraLayout.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraGrid.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraEditors.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraDialogs.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraCharts.v19.1.Wizard.dll
/Analogy/DevExpress/DevExpress.XtraCharts.v19.1.UI.dll
/Analogy/DevExpress/DevExpress.XtraCharts.v19.1.dll
/Analogy/DevExpress/DevExpress.XtraBars.v19.1.dll
/Analogy/DevExpress/DevExpress.Utils.v19.1.dll
/Analogy/DevExpress/DevExpress.Printing.v19.1.Core.dll
/Analogy/DevExpress/DevExpress.Images.v19.1.dll
/Analogy/DevExpress/DevExpress.Data.v19.1.dll
/Analogy/DevExpress/DevExpress.Charts.v19.1.Core.dll
/Analogy/nuget.exe
/Analogy.Implementation.Example/bin/Release
/Analogy/.vs/Analogy/v16/Server/sqlite3
/Analogy/.vs/Analogy/v16/.suo
/nuget.exe
*.nupkg
/.vs/Analogy/DesignTimeBuild
/Analogy.Interfaces.Standard/bin/Debug
/Analogy.Interfaces.Standard/obj
/Analogy.Interfaces.Standard/bin/Release/netstandard2.0
/Analogy.Interfaces/obj
/Analogy.Interfaces.Net471/bin
/Analogy.Interfaces.Net471/obj
/Analogy.Interfaces.Net471/nuget.exe
/Analogy.Implementation.KafkaProvider/obj
/Analogy.Implementation.KafkaProvider/bin/Debug/netstandard2.0
/.vs/Analogy/v16/TestStore/0
/Analogy.Implementation.KafkaProvider/Properties/PublishProfiles
/Analogy.Implementation.KafkaProvider/Analogy.Implementation.KafkaProvider.csproj.user
/packages
/Analogy.Implementation.KafkaProvider/bin/Release/netstandard2.0
/Analogy.Implementation.KafkaProvider/nuget.exe
/.vs/Analogy.Core/v16
/Analogy.Core/bin/Debug/netcoreapp3.0
/Analogy.Core/obj
*.user
/.vs/Analogy.Core/DesignTimeBuild
/Analogy.Core/DevExpress/DevExpress.XtraTreeList.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraPrinting.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraLayout.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraGrid.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraEditors.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraCharts.v19.1.Wizard.dll
/Analogy.Core/DevExpress/DevExpress.XtraCharts.v19.1.UI.dll
/Analogy.Core/DevExpress/DevExpress.XtraCharts.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.XtraBars.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.Utils.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.Printing.v19.1.Core.dll
/Analogy.Core/DevExpress/DevExpress.Images.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.Data.v19.1.dll
/Analogy.Core/DevExpress/DevExpress.Charts.v19.1.Core.dll
/Analogy.Core/bin/Release/netcoreapp3.0
/Analogy/bin/Config
/Analogy/obj
/Analogy.UnitTests/bin/Debug
/Analogy.UnitTests/obj/Debug/Analogy.UnitTests.csproj.CopyComplete
/Analogy.UnitTests/obj
/Analogy.UnitTests/bin/Release
/Analogy/DevExpress/.net framework
/Analogy/DevExpress
*.bak
