<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Analogy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />  
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Win32;x86"/>
    </assemblyBinding>
    <legacyCorruptedStateExceptionsPolicy enabled="true"/>
  </runtime>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <add key="AssembliesToLoad" value="Analogy.Extensions.dll"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.serviceModel>
    <services>
      <!--<service name="Philips.Analogy.WCFServices.AnalogyRecieverServer"
               behaviorConfiguration="AnalogyService">

        <endpoint address="net.tcp://localhost:2483/AnalogyService"
                  binding="netTcpBinding"
                  contract="Philips.Analogy.WCFServices.IAnalogyServiceContract" />
      </service>-->
      <service name="Philips.Analogy.WCFServices.AnalogyReceiverServer" behaviorConfiguration="AnalogyService">
        <endpoint address="http://localhost:2483/AnalogyService" binding="basicHttpBinding" bindingConfiguration="standard" contract="Philips.Analogy.WCFServices.IAnalogyServiceContract"/>
      </service>
    </services>
    <bindings>
      <!--<netTcpBinding>
        <binding name="netTcpBinding_AnalogyService"
                 closeTimeout="00:01:00"
                 openTimeout="00:01:00"
                 receiveTimeout="00:01:00"
                 sendTimeout="00:01:00"
                 hostNameComparisonMode="StrongWildcard"
                 maxBufferPoolSize="524288"
                 maxReceivedMessageSize="2147483647">
          <reliableSession  enabled="True" inactivityTimeout="00:01:00"/>
          <readerQuotas maxDepth="2147483647"
                        maxStringContentLength="2147483647"
                        maxArrayLength="2147483647"
                        maxBytesPerRead="2147483647"
                        maxNameTableCharCount="2147483647" />
          <security mode="None"/>
        </binding>

        <binding  maxReceivedMessageSize="2147483647"
                  receiveTimeout ="infinite"
                  portSharingEnabled="true">
          <reliableSession enabled="True" inactivityTimeout="00:30:00"/>
          <security mode="None" />
          <readerQuotas maxArrayLength="2147483647"/>
        </binding>
      </netTcpBinding>-->
      <basicHttpBinding>
        <binding name="standard">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LargeItemGraph">
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AnalogyService">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<client>
      <endpoint name="AnalogyService_Client"
                address="net.tcp://localhost:2483/AnalogyService"
                binding="netTcpBinding"
                bindingConfiguration="netTcpBinding_AnalogyService"
                behaviorConfiguration="LargeItemGraph"
                contract="Philips.PmsCT.Analogy.WCFServices.IAnalogyServiceContract"/>
    </client>-->
    <client>
      <endpoint name="AnalogyService_Client" address="http://localhost:2483/AnalogyService" binding="basicHttpBinding" bindingConfiguration="standard" behaviorConfiguration="LargeItemGraph" contract="Philips.Analogy.WCFServices.IAnalogyServiceContract"/>
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Analogy.Properties.Settings>
      <setting name="ModuleText" serializeAs="String">
        <value />
      </setting>
      <setting name="SourceText" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowHistoryClearedMessages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveSearchFilters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RecentFiles" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentFilesCount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="OpenFilesCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AnalogyRunningTime" serializeAs="String">
        <value>00:00:00</value>
      </setting>
      <setting name="EnableUserStatistics" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AnalogyLaunchesCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ApplicationSkinName" serializeAs="String">
        <value />
      </setting>
      <setting name="SimpleMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableFileCaching" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LoadExtensionsOnStartup" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupExtensions" serializeAs="String">
        <value />
      </setting>
      <setting name="StartupRibbonMinimized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartupErrorLogLevel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PagingSize" serializeAs="String">
        <value>250000</value>
      </setting>
      <setting name="PagingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowChangeLogAtStartUp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>10.5</value>
      </setting>
      <setting name="IncludeText" serializeAs="String">
        <value />
      </setting>
      <setting name="SearchAlsoInSourceAndModule" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IdleMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IdleTimeMinutes" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="WindowsEventLogs" serializeAs="String">
        <value>["Application","System"]</value>
      </setting>
      <setting name="UpgradeRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AutoStartDataProviders" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoScrollToLastMessage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LogParsersSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="ColorSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDescendOrder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FactoriesOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="FactoriesSettings" serializeAs="String">
        <value />
      </setting>
      <setting name="LastOpenedDataProvider" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="RememberLastOpenedDataProvider" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreDefinedQueries" serializeAs="String">
        <value />
      </setting>
      <setting name="RememberLastSearches" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="NumberOfLastSearches" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="LastSearchesInclude" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSearchesExclude" serializeAs="String">
        <value />
      </setting>
    </Analogy.Properties.Settings>
  </userSettings>
</configuration>
