name: Analogy .NET Core Desktop

on:
  push:
    branches: [ main ]
    paths-ignore: 
    - README.md
  pull_request:
    branches: [ main ]
    paths-ignore: 
    - README.md
jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-latest  # For a list of available runner types, refer to 
                             # https://help.github.com/en/actions/reference/workflow-syntax-for-github-actions#jobsjob_idruns-on

    env:
      Solution_Name: Analogy.sln                         # Replace with your solution name, i.e. MyWpfApp.sln.     
      Test_Project_Path: Analogy.UnitTests\Analogy.UnitTests.csproj
    steps:
    - name: Checkout
      uses: actions/checkout@v5
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v5.0.0
      with:
        dotnet-version: 10.0.x

    # Add  MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.3.1
    # Publish the application NET48
    - name: Publish the application NET48
      run: dotnet publish ./Analogy/Analogy.csproj -c=Release /p:Platform=x64 --framework net48 --runtime win-x64
      env:
        Configuration: ${{ matrix.configuration }}
    # Publish the application NET8
    - name: Publish the application NET8
      run: dotnet publish ./Analogy/Analogy.csproj -c=Release /p:Platform=x64 --framework net8.0-windows --runtime win-x64
      env:
        Configuration: ${{ matrix.configuration }}
 
    # Publish the application NET9
    - name: Publish the application NET9
      run: dotnet publish ./Analogy/Analogy.csproj -c=Release /p:Platform=x64 --framework net9.0-windows --runtime win-x64
      env:
        Configuration: ${{ matrix.configuration }}
    # Execute all unit tests in the solution
    #- name: Execute unit tests
    # run: dotnet test

    # Publish Artifacts 
    - name: 'Publish Artifacts NET48'
      uses: actions/upload-artifact@v4.4.3
      with:
       name: net48_${{ matrix.configuration }}
       path: ./Analogy/bin/x64/Release/net48/win-x64/publish
    # Publish Artifacts 
    - name: 'Publish Artifacts NET8'
      uses: actions/upload-artifact@v4.4.3
      with:
       name: net8.0-windows_${{ matrix.configuration }}
       path: ./Analogy/bin/x64/Release/net8.0-windows/win-x64/publish
    # Publish Artifacts 
    - name: 'Publish Artifacts NET9'
      uses: actions/upload-artifact@v4.4.3
      with:
       name: net9.0-windows_${{ matrix.configuration }}
       path: ./Analogy/bin/x64/Release/net9.0-windows/win-x64/publish
concurrency: 
  group: ${{ github.ref }}
  cancel-in-progress: true


